In [ ]:
import pandas as pd
import numpy as np
from pathlib import Path
import json

In [ ]:
json_path = Path("../data/raw/olympic_athletes.json")
# Load the JSON data
with open(json_path, "r") as f:
    json_data = json.load(f)

# Convert JSON data to DataFrame
df_athletes = pd.json_normalize(json_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75904 entries, 0 to 75903
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   athlete_url           75904 non-null  object
 1   athlete_full_name     75904 non-null  object
 2   games_participations  75904 non-null  int64
 3   first_game            75882 non-null  object
 4   athlete_year_birth    73448 non-null  float64
 5   athlete_medals        15352 non-null  object
 6   bio                   22842 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 4.1+ MB
None
                                         athlete_url       athlete_full_name  \
0  https://olympics.com/en/athletes/cooper-woods-...  Cooper WOODS-TOPALOVIC
1          https://olympics.com/en/athletes/elofsson          Felix ELOFSSON
2     https://olympics.com/en/athletes/dylan-walczyk           Dylan WALCZYK
3     https://olympics.com/en/athletes/olli-penttala           Olli PENTTALA
4          https://olympics.com/en/athletes/reikherd        Dmitriy REIKHERD

   games_participations        first_game  athlete_year_birth athlete_medals  \
0                     1      Beijing 2022              2000.0           None
1                     2  PyeongChang 2018              1995.0           None
2                     1      Beijing 2022              1993.0           None
3                     1      Beijing 2022              1995.0           None
4                     1      Beijing 2022              1989.0           None

    bio
0  None
1  None
2  None
3  None
4  None

In [19]:
#print(df_athletes.info())
#print(df_athletes.head())
#print(df_athletes.isnull().sum())
#print(df_athletes.head(10))
print(df_athletes.describe(include='all'))

                                      athlete_url athlete_full_name  \
count                                       75904             75904
unique                                      75900             75480
top     https://olympics.com/en/athletes/geiger-1          Nan WANG
freq                                            2                 4
mean                                          NaN               NaN
std                                           NaN               NaN
min                                           NaN               NaN
25%                                           NaN               NaN
50%                                           NaN               NaN
75%                                           NaN               NaN
max                                           NaN               NaN

        games_participations first_game  athlete_year_birth    athlete_medals  \
count           75904.000000      75882        73448.000000             15352
unique                   NaN         53                 NaN               170
top                      NaN   Rio 2016                 NaN  \n\n\n1\n\nB\n\n
freq                     NaN       4111                 NaN              4209
mean                1.535874        NaN         1961.619377               NaN
std                 0.854563        NaN           28.129576               NaN
min                 0.000000        NaN         1836.000000               NaN
25%                 1.000000        NaN         1946.000000               NaN
50%                 1.000000        NaN         1968.000000               NaN
75%                 2.000000        NaN         1983.000000               NaN
max                10.000000        NaN         2009.000000               NaN

                                                    bio
count                                             22842
unique                                            22530
top     \n\n\nPersonal Best: Mar â€“ unknown.\n\n\n\n\n\n
freq                                                110
mean                                                NaN
std                                                 NaN
min                                                 NaN
25%                                                 NaN
50%                                                 NaN
75%                                                 NaN
max                                                 NaN

In [ ]:
med = pd.read_csv("../data/clean/olympic_medals_clean.csv")
p

(21697, 16)
['year', 'games_slug', 'sport', 'event', 'event_gender', 'participant_type', 'participant_title', 'athlete', 'athlete_url', 'country', 'country_code', 'noc', 'medal', 'gold', 'silver', 'bronze']
   year    games_slug    sport          event event_gender participant_type  \
0  2022  beijing-2022  Curling  Mixed Doubles        Mixed         GameTeam
1  2022  beijing-2022  Curling  Mixed Doubles        Mixed         GameTeam
2  2022  beijing-2022  Curling  Mixed Doubles        Mixed         GameTeam
3  2022  beijing-2022  Curling  Mixed Doubles        Mixed         GameTeam
4  2022  beijing-2022  Curling  Mixed Doubles        Mixed         GameTeam

  participant_title               athlete  \
0             Italy  Stefania CONSTANTINI
1             Italy          Amos MOSANER
2            Norway      Kristin SKASLIEN
3            Norway    Magnus NEDREGOTTEN
4            Sweden         Almida DE VAL

                                         athlete_url country country_code  \
0  https://olympics.com/en/athletes/stefania-cons...   Italy           IT
1      https://olympics.com/en/athletes/amos-mosaner   Italy           IT
2  https://olympics.com/en/athletes/kristin-skaslien  Norway           NO
3  https://olympics.com/en/athletes/magnus-nedreg...  Norway           NO
4     https://olympics.com/en/athletes/almida-de-val  Sweden           SE

   noc   medal  gold  silver  bronze
0  ITA    GOLD     1       0       0
1  ITA    GOLD     1       0       0
2  NOR  SILVER     0       1       0
3  NOR  SILVER     0       1       0
4  SWE  BRONZE     0       0       1

In [ ]:
print(med.isnull().sum())

year                     0
games_slug               0
sport                    0
event                    0
event_gender             0
participant_type         0
participant_title    15113
athlete               3624
athlete_url           4670
country                  0
country_code          1502
noc                      0
medal                    0
gold                     0
silver                   0
bronze                   0
dtype: int64